#alphabet_container {
    height: 90%;
    width: 80%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#alphabet_container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: azure;
    font-size: 32px;
    border: 2px solid black;
}



#alphabet_container > div:hover {
    cursor: pointer;
    background-color: yellow;
    border: none;
    transform: scale(1.1);
    transition: 0.25s;
}

