#modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.202);
}

#inner_modal {
    height: 25%;
    width: 25%;
    background-color: azure;
    border: 2px solid black;
}

#inner_modal_text {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    font-size: 18px;
}

#play_again_button {
    height: 50%;
    width: 100%;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play_again_button:hover {
    background-color: yellow;
    cursor: pointer;
    transition: 0.5s;
}